*, body{
  font-family: 'Poppins', sans-serif;
}

.btn{
  background-color: #fff;
  border: 2px solid #f5c2b4;
  color: #000;
}

.btn:hover{
  background-color: #f09722;
  color: white;
}

.ottafood{
  color: #fd0303;
}
/*******Navigation**********/
nav .dropdown-menu a{
  background-color: #f09722;
  color: white;
}

.nav-item a:hover{
  color: #f09722;
}

a {text-decoration: none;}
/*************Hero********************/
.hero {
  background: url("../img/about.jpg") center center;
  background-size: cover;
  position: relative;
  padding: 80px 0;
  opacity: 0.8;
}

.hero:before {
  content: "";
  background: rgba(17, 2, 2, 0.548);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.card-body{
    height: 300px;
  }

.card-title{
  font-size: 16px;
}

.card-body p{
    font-size: 12px;
    height:40%;
  }

.custom-img {
  height: 80px;
}

/*********** Section *************/
.section-title{
  text-align: center;
}
section .container h1{
  font-size: 55px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

/**************Specials*************************/
.specials .nav-item a{
  color: #000;
}

.specials .nav-item a.active{
  background-color: #f09722;
  color: black;
}

.specials .nav-item a:hover{
  background-color: #f09722;
  color: #000;
}

.specials .nav-link a:hover{
  background-color: #f09722;
  color: #000;
}

/*********** Testimonials *************/
.testimonials {
  background-color: #f5e7e7;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .swiper-pagination 
.swiper-pagination-bullet-active {
  background-color: #cda45e;
}

/**************footer**************/
footer, footer p, footer a{
  background-color: #f3ae9b;
  color: #000;
}

/* social media links */
footer section .social-links a {
  background-color: #dd4b39;
  color: #fff !important; 
  border: none;
}